@use "../../../styles/variables" as var;

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 121px;
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 5%;
  align-self: center;
  width: 90%;
  margin: auto;
  background: linear-gradient(90.25deg, rgba(254, 228, 211, 0.4) 0%, rgba(254, 228, 211, 0.1) 98.94%);;
  border-radius: 16px;
  position: fixed;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);

  @media(max-width: 956px) {
    padding: 8px 80px;      
  }

  @media(max-width: 768px) {
    display: none;         
  }
}

.logo {
  display: flex;
  align-items: center;

  span{
    font-family: var.$manrope;
    font-weight: 900;
    font-size: 16px;
    color: #202c2c;
    margin-left: 20px;

    @media(max-width: 1080px) {
      margin-left: 16px;            
    }

    @media(max-width: 956px) {
      font-size: 14px;      
    }
    
    @media(max-width: 768px) {
      font-size: 16px;           
    }
  }
}

.navItem{
  font-family: var.$manrope;
  font-weight: 900;
  color: #202c2c;
  font-size: 16px;
  cursor: pointer;
  
  @media(max-width: 1080px) {
    font-size: 14px;      
  }
}