@use "../../../styles/variables" as var;

.hero{
  background-image: url("/hero-background.svg");
  background-repeat: no-repeat;
  height: 800px;
  width: 100vw;
  padding-top: 126px;  
  padding-bottom: 126px;  

  @media(max-width: 944px) {
    height: 560px;      
  }
  
  @media(max-width: 956px) {
    height: 560px;      
  }
}

.heroWrapper{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0px 120px;
  
  @media(max-width: 1167px) {
    padding: 0px 80px;     
  }

  @media(max-width: 1076px) {
    padding: 0px 64px;     
  }

  @media(max-width: 957px) {
    padding: 0px 56px;          
  }
  
  @media(max-width: 768px) {
    padding: 0px 32px;         
  }

  @media(max-width: 481px) {
    padding: 0px 16px;         
  }
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-start;
  width: 50%;

  @media(max-width: 957px) {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;      
  }

  h1 {
    font-family: var.$manrope;
    font-size: var.$h1;
    font-weight: 800;
    line-height: 56px;
    color: #222c2c;

    @media(max-width: 1081px) {
      font-size: 40px;
      line-height: 48px;      
    }
    
    @media(max-width: 944px) {
      font-size: 38px;
      line-height: 48px;      
    }

    @media(max-width: 481px) {
      font-size: 32px;
      line-height: 36px;         
    }
  }

  span{
    color: var.$orange;
  }
}

.heroText{
  p{
    font-family: var.$manrope;
    font-size: var.$body-large;
    line-height: 30px;
    font-weight: bold;
    color: #222c2c;
    opacity: 0.8;

    @media(max-width: 481px) {
      font-size: 16px;
      line-height: 24px;         
    }
  }
}

.cta{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var.$white;
  background-color: var.$violet;
  margin: 32px 0px 0px 0px;
  padding: 20px;
  border-radius: 10px;
  font-family: var.$manrope;
  font-weight: 800;
  width: 100%;
  box-shadow: none;
  border: none;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  @media(max-width: 1080px) {
    padding: 16px;
    font-size: 16px;
  }

  @media(max-width: 957px) {
    width: 50%;          
  }

  @media(max-width: 481px) {
    padding: 16px;         
  }
  &:hover{
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    margin-left: 64px;
    width: 50%;

    @media(max-width: 1167px) {
      justify-content: center;      
    }

    @media(max-width: 957px) {
      display: none;                
    }
}