@use "../../../styles/variables" as var;

.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 368px;
  padding: 16px 16px;
  min-height: fit-content;
  border-radius: 10px;
  margin-right: 51px;

  cursor: pointer;
  box-shadow: none;
  border: none;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  @media(max-width: 1000px) {
    padding: 16px 8px;
    width: 100%;
    flex-direction: row;
    margin-top: 16px;
  }

  @media(max-width: 768px) {
    width: 100%;       
  }

  @media(max-width: 481px) {
    flex-direction: column;          
  }

  &:hover{
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.cardHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  span{
    font-size: 40px;
    font-weight: 700;
    font-family: var.$gothic;
    margin-right: 8px;
    opacity: 0.5;

    @media(max-width: 1000px) {
      font-size: 30px;
      margin-right: 4px;
      margin-bottom: 0px;
    }

    @media(max-width: 768px) {
      font-size: 28px;
      margin-bottom: 8px;       
    }
  }

  h3{
    font-size: var.$h3;
    font-weight: 700;
    font-family: var.$gothic;
    line-height: 24px;
    text-align: center;

    @media(max-width: 1000px) {
      margin-top: 0px;
      font-size: 20px;
    }

    @media(max-width: 768px) {
      font-size: 20px;       
    }
  }

  @media(max-width: 768px) {
    flex-direction: column;       
  }
}

.left{
  @media(max-width: 1000px) {
    width: 50%;
    padding: 8px;
  }

  @media(max-width: 481px) {
    width: 100%;          
  }
}

.button{
  font-size: 20px;
  font-weight: 700;
  font-family: var.$gothic;
  margin-top: 22px;
  background-color: transparent;
  border: none;
  color: #222c2c;
  text-decoration: underline;
  text-align: start;
  
  @media(max-width: 1000px) {
    font-size: 16px;
    text-align: end;
  }

  @media(max-width: 481px) {
    font-size: 16px;
    text-align: center;        
  }
}

.cardImage{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  @media(max-width: 481px) {
    margin-top: 16px;        
    margin-bottom: 16px;        
  }
}

.right{
  font-size: var.$body-regular;
  font-weight: 500;
  font-family: var.$manrope;
  line-height: 24px;
  margin-right: 3px;
  color: #222c2c;
  
  @media(max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    width: 50%;
  }

  @media(max-width: 481px) {
    width: 100%; 
    text-align: center;         
  }
}