@use "../../../styles/variables" as var;

.sectionWrapper{
    margin-left: 121px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media(max-width: 1167px) {
      margin: 0px 80px;     
    }

    @media(max-width: 1076px) {
      margin: 0px 64px;     
    }
    
    @media(max-width: 957px) {
      margin: 0px 56px;     
    }

    @media(max-width: 768px) {
      margin-left:32px;        
      margin-right: 32px;        
    }
    
    @media(max-width: 481px) {
      margin: 0px 16px;
      align-items: center;        
    }
}

.description{

  @media(max-width: 481px) {
    margin-bottom: 16px;
    text-align: center;
  }
    span{
        font-family: var.$gothic;
        font-size: var.$body-accent;
        color: var.$orange;
        font-weight: 900;
    }

    h2{
      font-family: var.$manrope;
      font-size: var.$h2;
      color: #222c2c;
      font-weight: 800;
      margin-bottom: 16px;
      margin-top: 1px;
    }
    
    p{
      font-family: var.$manrope;
      font-size: var.$body-regular;
      color: #222c2c;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 16px;
      margin-bottom: 24px;
      width: 40%;
      @media(max-width: 768px) {
        width: 60%;        
      }

      @media(max-width: 481px) {
        width: 100%
      }
    }
}

.cardsWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 105px;

  @media(max-width: 1000px) {
    display: flex;
    flex-direction: column;        
  }

  @media(max-width: 768px) {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 16px;
    margin-top: 16px;        
  }

  @media(max-width: 481px) {
    display: flex;
    flex-direction: column;
    justify-content: center;        
  }
}