@use "../../../styles/variables" as var;

.sectionWrapper{
    margin-left: 121px;
    margin-right: 70px;
}

.description{
    span{
        font-family: var.$gothic;
        font-size: var.$body-accent;
        color: var.$orange;
        font-weight: 900;
    }

    h2{
      font-family: var.$manrope;
      font-size: var.$h2;
      color: var.$black;
      font-weight: 800;
      margin-bottom: 16px;
      margin-top: 1px;
    }
    
    p{
      font-family: var.$manrope;
      font-size: var.$body-regular;
      color: var.$dark-gray;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 16px;
      margin-bottom: 24px;
      width: 40vw;
    }
}

.cardsWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}