@use "../../../styles/variables" as var;

.sectionWrapper{
  margin-top: 48px;
  background-color: var.$light-blue;
  display: grid;
  justify-content: center;
  padding-top: 52px;
  padding-bottom: 52px;
  grid-template-columns: 380px 380px 380px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}