@use "../../../styles/variables" as var;

.sectionWrapper{
  margin-top: var.$section-spacing;

  h1{
    text-align: center;
    font-family: var.$manrope;
    font-weight: 800;
  }  
}

.cardsWrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 121px;
  padding-right: 121px;
  padding-top: 48px;
  padding-bottom: 48px;
}