@use "../../../styles/variables" as var;

.sectionWrapper{
  margin-top: var.$section-spacing;

  @media(max-width: 768px) {
    margin-top: 72px;        
  }

  h1{
    text-align: center;
    font-family: var.$manrope;
    font-weight: 800;
    color: #222c2c;

    @media (max-width: 481px) {
      font-size: 30px;      
    }
  }  
}

.cardsWrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 121px;
  padding-right: 121px;
  padding-top: 48px;
  padding-bottom: 48px;

  @media(max-width: 1167px) {
    padding: 0px 80px;     
  }

  @media(max-width: 1076px) {
    padding: 0px 64px;     
  }

  @media(max-width: 957px) {
    padding: 0px 56px;          
  }
  
  @media(max-width: 768px) {
    padding: 0px 32px;
    flex-direction: column; 
    justify-content: center;
    align-content: center;         
  }

  @media (max-width: 481px) {
    padding: 16px 16px;   
  }
}