.top{
    display: flex;
    justify-content: flex-end;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
}

.middle{
    display: flex;
    justify-content: flex-end;
}