@use "../../../styles/variables" as var;

.footer{
    background-color: #FEE4D3;
    padding-top: 51px;    
    padding-bottom: 51px;
    padding-left: 121px;
    padding-right: 121px;

    @media(max-width: 1167px) {
      padding: 0px 80px;     
    }
  
    @media(max-width: 1076px) {
      padding: 0px 64px;     
    }
  
    @media(max-width: 957px) {
      padding: 0px 56px;          
    }
    
    @media(max-width: 768px) {
      padding: 0px 32px;         
    }
  
    @media(max-width: 481px) {
      padding: 0px 16px;         
    }
}

.top{
    display: flex;
    justify-content: space-between;

    @media(max-width: 978px) {
      flex-direction: column;          
    }
}

.logoContainer{
    display: flex;

    h3{
      font-family: var.$gothic;
      font-weight: 700;
      color: var.$dark-blue;
    }

    @media(max-width: 957px) {
      padding: 32px;          
    }
}

.company{
  p{
    font-family: var.$gothic;
    font-weight: 900;
    color: var.$dark-gray;
  }
  @media(max-width: 957px) {
    border-bottom: 2px solid gray;          
  }
}

.contact{
  h3{
    font-family: var.$gothic;
    font-weight: 700;
    color: var.$dark-blue;    
  }

  p{
    font-weight: 500;
    font-size: 16px;
    font-family: var.$manrope;
    color: var.$dark-blue;
    line-height: 16px;
  }
  
  @media(max-width: 957px) {
    margin-top: 24px;             
  }
}

.socials{
  display:flex;
  justify-content: space-between;

  div{
    cursor: pointer;
    &:hover{
      transform: scale(110%);
    }
  }

  @media(max-width: 481px) {
    justify-content: space-around;
    padding: 24px;
    border-bottom: 2px solid gray;          
  }
}



.businessHours{
  h3{
    font-family: var.$gothic;
    font-weight: 700;
    color: var.$dark-blue;    
  }

  p{
    font-weight: 500;
    font-size: 16px;
    font-family: var.$manrope;
    color: var.$dark-blue;
    line-height: 16px;

    span{
      font-weight: 900;
    }
  }

}

.bottom{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    font-family: var.$manrope;
    color: var.$dark-blue;
    line-height: 24px;
    text-align: center;
    span{
      font-weight: 600;
    }
}