//brand-colors
$orange: #F57059;
$light-orange:#FCBB90;
$teal: #05796B;
$violet: #4F46BA;
$black: #000000;
$dark-gray: #757095;
$white: #F5F5F5;
$light-green: #E2EFBF;
$pink: #EDD8D8;
$light-blue: #CDE2E9;

//fonts
$gothic: 'Gothic A1';
$manrope: 'Manrope';
$marcellus: 'Marcellus SC';

//font-sizes
$h1: 48px;
$h2: 40px;
$h3: 24px;
$h4: 16px;
$body-large: 18px;
$body-regular: 16px;
$body-accent: 14px;

//section spacing
$section-spacing: 145px;

