//brand-colors
$orange: #F57059;
$light-orange:#FCBB90;
$teal: #05796B;
$violet: #4F46BA;
$black: #000000;
$dark-gray: #757095;
$white: #F5F5F5;

//fonts
$gothic: 'Gothic A1';
$manrope: 'Manrope';
$marcellus: 'Marcellus SC';

//font-sizes
$h1: 48px;
$h2: 40px;
$h3: 20px;
$h4: 16px;
$body-large: 18px;
$body-regular: 16px;
$body-accent: 16px;

